/* Global CSS variables */
:root {
    --primary: #43a047;
}

.main-nav-menu {
    background-color: #394046;
    background-image: url('/assets/jbc_top_image.jpg');
    background-position: center;
    background-size: cover;
}

article {
    margin-top: 0;
    margin-bottom: 0;
}

article h2 {
    margin-top: 0;
    margin-bottom: 0;
}

footer.container {
    padding-top: 0;
}
